@model StatsViewModel
@{
    ViewData["Title"] = "Stats";
}

<div class="text-center">
    All time average hashrate : @Model.AverageHashrate GH/s
    Yesterday average hashrate : @Model.AverageYesterdayHashrate GH/s
</div>