@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button id="reload">Reload</button>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Hashrate</th>
            <th>Temperature</th>
            <th>Number of shares accepted</th>
        </tr>
        @if (Model.DeviceStatusLogs != null)
        {
            @foreach (var elem in Model.DeviceStatusLogs)
            {
                <tr>
                    <td>@elem.Timestamp</td>
                    <td>@Math.Round(elem.HashRate, 3)</td>
                    <td>@elem.Temperature</td>
                    <td>@elem.SharesAccepted</td>
                </tr>
            }
        }
    </table>
</div>
<script type="text/javascript">
    $("#reload").click(function () { 
        console.log("click!");
    })
</script>
